@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');
:root {
    --black: #000;
    --orange: #ff8a0e;
    --gray: #404040;
    --lightgray: #f3f3f3;
    --white: #fff;
    --padding: 70px 0;
    --font: 16px;
    --transition: .3s ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray);
    a{
        text-decoration: none;
    }
    h2{
        font-size:2rem;
        text-align: center;
        &::after{
            content:"";
            display: block;
            width: 80%;
            background:var(--orange);
            height: 3px;
            margin:20px auto;
        }
    }
    button{
        background: var(--orange);
        padding: 15px 60px;
        border: none;
        color: var(--white);
        margin-top: 30px;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 2px;
        &:hover{
            background: var(--gray);
            cursor: pointer;
            transition: .4s ease;
        }
    }
}
.container{
    width: 80%;
    margin: auto;
    &::after{
        content:"";
        display: block;
        clear: both;
    }
}
header{
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    border-bottom: 20px solid rgba(0, 0 , 0, .5);
    h1{
        background: var(--black);
        display: inline-block;
        color:var(--white);
        padding: 15px 50px;
        font-size: 2.8rem;
        margin-top: 10%;
        margin-bottom: 10px;
        margin-left: 10%;
    }
    nav{
        background: var(--orange);
        display: inline-block;
        padding: 5px 30px;
        margin-left: 10%;
    }
    ul{
        list-style: none;
        li{
           display: inline-block; 
            padding: 5px 30px;
            a{
                color: var(--white);
            }
        }
    }
}
.about{
    padding: var(--padding);
    background: var(--lightgray);
    text-align: center;
    h2{
        font-size: 2.8rem;
        padding-bottom: 20px;
    }
}
.services{
    padding: var(--padding);
    article{
        width: 33%;
        float: left;
        text-align: center;
        padding: 0 30px;
        h3{
            font-size: 1.6rem;
            padding-bottom: 20px;
        }
    }
}
.products{
    background: var(--lightgray);
    padding: var(--padding);
    text-align: center;
    article{
        img{
            width: 100%;
            height: auto;
        }
        width: 25%;
        float: left;
        padding: 30px;
        h5{
            font-size: 1.5rem;
            padding: 20px 0;
        }
    }
}
footer{
    background: var(--gray);
    color: var(--white);
    text-align: center;
    height: 100px;
    padding: 25px;
    .fa-heart{
        color:red;
    }
    .fab{
        color: var(--white);
        // background-color: var(--orange);
        text-align: center;
        font-size: 2rem;
        letter-spacing: 10px;
    }
}






@media(max-width: 768px) {

}